
<% include header %>
<% include navbar %>



<div class="jumbotron">
        <div class="container">

<h1>eztv search</h1>

	<table>
	<thead>

	<% results_show.forEach(function(element){ %>
		<tr>

			<td> Lien </td>
			<td> Saison </td>
			<td> Episode </td>


		</tr>
<% }) %>


	<% episodes.forEach(function(element){ %>
		<tr>


			<td><strong><a href='eztv_dl?id=<%= element.magnet.substring(0, 52) %>'> <%= element.title %> </a></strong></td>
			<td> <%= element.seasonNumber %> </td>
			<td> <%= element.episodeNumber %> </td>
		</tr>
	<% }) %>

	</tbody>
	</table>

        </div>
    </div>


